html,body{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    display:flex;
    flex-direction: column;
}

.site-container{
    overflow:hidden;
    min-height: 100%;
}

.undecorated{
    text-decoration: none;
    color:inherit;
}
.padded-body{
    padding:8px;
}

.color-main {
    background-color: #000;
    color:#fff;
}

.color-accent-gold{
    background-color: #e7af34;
}

.color-accent-purple{
    background-color: #440d3f;
    color:#Fff
}

#navbar{
    display:flex;
    width: 100%;
}

#internal-team{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: flex-end;
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

#navbar ul li {
    
}

.icon{
    max-width: 30px;
}

.team-profile{
    text-align: center;
}

.team-img{
    border-radius: 12%;
    max-width: 120px;
}

.team-job {
    font-size: 0.8rem;
}

#footer{
    padding-bottom: 32000px;
    margin-bottom: -32000px;

}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #e7af34;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.3rem;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #a47613;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background:linear-gradient(#e7af34, #a47613);
    color: #000;
    display: none;
    overflow: hidden;
  }